/* HEADER ADDED */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/* HEADER ADDED */

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


/* HEADER ADDED */

/* RESETTER */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.collapse {
    display: block;
}

.btn {
    background-color: #3a9fff;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.btn:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
    background-color: #63b2fc;
    color: #fff;
    cursor: pointer;
}

/*menu header*/
.header {
    padding: 30px 25px 0 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header #navbar .header__elenco li a {
    text-decoration: none;
}

.header__elenco {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
}

.header__menu {
    float: right;
}

.header__el {
    padding: 0 25px;
    display: inline-block;
}

.header__img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.header__logo,
.header__menu {
    display: inline-block;
    vertical-align: middle;
}

.header__title {
    font-size: 30px;
    margin: 0;
    margin-left: 2px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}

.header__light {
    color: #8198ae;
}

.header__link {
    color: #1f4568;
    font-size: 17px;
}

.header__link:hover {
    text-decoration: none;
    color: #3a9fff;
}

.navbar-toggle .icon-bar {
    background-color: #8198ae;
}

/* HEADER ADDED */


/* Override UGG site */
#main {
    width: 100%;
    padding: 0;
}

.content-asset p {
    margin: 0 auto;
}

.breadcrumb {
    display: none;
}

/* Typography */
/**************************/
#content-blocks h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
}

#content-blocks h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
    -webkit-text-stroke: 1px black;
}

#content-blocks h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
}

#content-blocks p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
}

.sc {
    color: #3b8595;
}

.ny {
    color: #3d3c3a;
}

.atw {
    color: #c48660;
}

/* Section - Title */
/**************************/
#content-blocks .title {
    background: white;
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}

#content-blocks .title h1 {
    font-size: 35px;
    letter-spacing: 8px;
}

#content-blocks .title h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 1000px;
    margin: 50px auto 0;
    font-weight: 400;
}

/* Section - Block */
/**************************/

#content-blocks {
    font-size: 20px;
}

#content-blocks .block {
    background: white;
    padding: 60px;
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

/* #content-blocks .block-gray {
    background: #f2f2f2;
    padding: 60px;
} */

#content-blocks .section-overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.70;
}

/* Section - Parallax */
/**************************/
#content-blocks .block-one {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../imgs/block_one_img.jpeg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#content-blocks .block-two {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../imgs/block_two_img.jpeg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#content-blocks .block-three {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../imgs/block_three_img.jpeg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#content-blocks .block-four {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../imgs/about.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Extras */
/**************************/
/* #content-blocks .line-break {
    border-bottom: 1px solid black;
    width: 500px;
    margin: 0 auto;
} */

/* FOOTER ADDED */

body {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background: #021c36;
    font-family: 'Play', sans-serif;
    text-align: center;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
    margin-bottom: 2%;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

/* FOOTER ADDED */

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
    #content-blocks .block {
        padding: 40px;
        width: 620px;
    }
}

@media screen and (max-width: 767px) {
    #content-blocks .block {
        padding: 30px;
        width: 420px;
    }

    #content-blocks h2 {
        font-size: 30px;
    }

    #content-blocks .block {
        padding: 30px;
    }

    #content-blocks .block-one,
    #content-blocks .block-two,
    #content-blocks .block-three {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 479px) {
    #content-blocks .block {
        padding: 30px 15px;
        width: 290px;
    }
}

/* HEADER ADDED */

@media screen and (max-width:1024px) {
    .collapse {
        display: none;
    }

    .navbar-toggle {
        margin: 0;
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }

    .header__container {
        width: 100%;
        padding: 0;
    }

    .header__menu {
        width: 100%;
    }

    .header {
        background-color: #fff;
        padding: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;
    }

    .header__logo {
        padding: 12px 20px 12px 20px;
    }

    .header__el {
        display: block;
        padding: 10px 20px;
        border-top: 1px solid #ededed;
    }

    .header .btn--white,
    .header .btn--white:hover {
        padding: 0;
        border: 0;
        box-shadow: none;
        color: #fff;
        background-color: transparent;
    }

    .header__el--blue {
        background-color: #3a9fff;
    }
}

@media screen and (max-width:991px) {
    .collapse {
        display: none;
    }

    .navbar-toggle {
        margin: 0;
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }

    .header__container {
        width: 100%;
        padding: 0;
    }

    .header__menu {
        width: 100%;
    }

    .header {
        background-color: #fff;
        padding: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;
    }

    .header__logo {
        padding: 12px 20px 12px 20px;
    }

    .header__el {
        display: block;
        padding: 10px 20px;
        border-top: 1px solid #ededed;
    }

    .header .btn--white,
    .header .btn--white:hover {
        padding: 0;
        border: 0;
        box-shadow: none;
        color: #fff;
        background-color: transparent;
    }

    .header__el--blue {
        background-color: #3a9fff;
    }
}


/* HEADER ADDED */

/* FOOTER ADDED */



/* FOOTER ADDED */